## The Prettiest Neighborhood: Amount of Parks/Green Space

In [85]:
import pandas as pd
parks = pd.read_csv("pghParks.csv")
parks[['name','type','neighborhood']]

#each park in pittsburgh (209 total)

                        name        type        neighborhood
0             Able Long Park        Park           Beechview
1    Albert Turk Graham Park        Park    Crawford-Roberts
2                 Alcoa Park        Park         North Shore
3          Allegheny Commons        Park    Allegheny Center
4     Allegheny Landing Park        Park         North Shore
..                       ...         ...                 ...
204           Woods Run Park        Park  Marshall-Shadeland
205         Young Field Park        Park  Marshall-Shadeland
206              Zulema Park        Park     Central Oakland
207       Liberty Green Park        Park        East Liberty
208         Esser Plaza Park  Open Space    South Side Flats

[209 rows x 3 columns]

This database is a list of all 209 parks in Pittsburgh, and what neighborhood they are located in.

In [87]:
nbhdParks={}

for nbhd in parks['neighborhood']:
    parkCount=0
    for park in range(len(parks)):
        if parks.iloc[park, 6]==nbhd:
            parkCount+=1
        nbhdParks[nbhd]=parkCount
    if nbhd not in nbhdParks:
        nbhdParks[nbhd]=0
    
nbhds=pd.DataFrame.from_dict(nbhdParks, orient='index')
nbhds=nbhds.sort_values(0, ascending=False)
nbhds.head(100)

#number of parks in each neighborhood, descending order

                            0
East Liberty               12
Central Business District  10
Beechview                   8
South Side Slopes           7
Point Breeze                7
...                        ..
Hays                        1
Arlington                   1
Stanton Heights             1
Morningside                 1
Squirrel Hill North         1

[73 rows x 1 columns]

### This table lists the number of parks per neighborhood in Pittsburgh.

In [88]:
nbhds.describe()

               0
count  73.000000
mean    2.863014
std     2.206777
min     1.000000
25%     1.000000
50%     2.000000
75%     3.000000
max    12.000000

In [92]:
list = parks['type'].unique()
for item in list:
    print(item)

Park
Traffic Island/Median
Building Grounds
Monument/Memorial
Open Space

Each park falls into one of the above 5 categories, however, we will only focus on the type "Parks"

In [90]:
parkSeries = pd.Series(parks['type'])
parkQueryMask = parkSeries.str.contains("Park")
parkTypes = parks[parkQueryMask]
parkTypes.head(5)

,_id,id,name,type,maintenance_responsibility,image,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1,2111959181,Able Long Park,Park,Parks - Southern,https://tools.wprdc.org/images/pittsburgh/park...,Beechview,4,19,42003192000,5,19,6,4-28,40.408118,-80.028197
1,2,1109513049,Albert Turk Graham Park,Park,Parks - Schenley,https://tools.wprdc.org/images/pittsburgh/park...,Crawford-Roberts,6,3,42003030500,3,3,2,2-1,40.440507,-79.984018
2,3,1544096765,Alcoa Park,Park,Parks - Northern,NaN,North Shore,1,22,42003563200,6,22,1,1-20,40.447481,-80.001017
3,4,1212681573,Allegheny Commons,Park,Parks - Northern,NaN,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.453126,-80.009158
4,5,954863286,Allegheny Landing Park,Park,Parks - Northern,NaN,North Shore,1,22,42003563200,6,22,1,1-20,40.447184,-80.002907

In [91]:
nbhdJustParks={}

for nbhd in parkTypes['neighborhood']:
    parkCount=0
    for park in range(len(parkTypes)):
        if parks.iloc[park, 6]==nbhd:
            parkCount+=1
        nbhdParks[nbhd]=parkCount
    if nbhd not in nbhdParks:
        nbhdParks[nbhd]=0
    
nbhdJustParks=pd.DataFrame.from_dict(nbhdParks, orient='index')
nbhdJustParks=nbhdJustParks.sort_values(0, ascending=False)
nbhdJustParks.head(100)

#number of parks in each neighborhood, excluding traffic medians, building grounds, monuments and open spaces, descending order

                            0
East Liberty               10
Central Business District   9
Beechview                   6
Mount Washington            6
Hazelwood                   6
...                        ..
Swisshelm Park              0
Bluff                       0
Middle Hill                 0
West End                    0
Squirrel Hill North         0

[73 rows x 1 columns]